
@{
    Layout = null;
}


<label for="txt_instrucciones">Instrucciones</label><br />

<table>
    <thead>
        <tr>
            <th>Cantidad</th>
            <th>Unidad</th>
            <th>Ingrediente</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="number" /></td>
            <td><select><option>Gramos</option>><option>Kilogramos</option>><option>Cucharadas</option>><option>Piscas</option></select></td>
            <td><input type="text" /></td>
        </tr>
    </tbody>
</table>